<h1> Welcome to my website!</h1>
<body>
	<div>
		<ul>
			<% ['cats','dogs','horses'].each do |animals| %>
			<li>I like <%= fruit %></li>
			<% end %>
		</ul>
	</div>
	<div>
		Whats Going on over Here?!
	</div>
	<div>
		This is a <span> span
	</div>
</body>